@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.todos {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 450px;
  min-height: 200px;
  box-shadow: 0 1px 6px 1px rgba($c-dark-gray, 0.7);

  &__form {
    display: flex;
    line-height: 1;

    > :first-child {
      width: 75%;
    }
    > :last-child {
      width: 25%;
    }
    button {
      font-size: 16px;
      border: 1px solid $c-light-gray;
      cursor: pointer;
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    column-gap: 5px;
    row-gap: 10px;
    margin-top: auto;
    padding: 10px 5px;
    font-size: 12px;

    @include media("sm", "min") {
      justify-content: space-between;
      flex-direction: row;
    }

    &-total {
      display: flex;
      align-items: center;
    }
  }

  &__remove-button {
    border: 1px solid $c-dark-gray;
    border-radius: 5px;
    background-color: transparent;
    font-size: 12px;
    cursor: pointer;
  }
}
